* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 15px;
    border: 2px solid red;
}

header {
    max-width: 1400px;
    margin: auto;
    background-image: url(./images/header_image.jpg);
    border: 2px solid red;
}

header .header_nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

header .header_nav ul {
    display: flex;
    gap: 30px;
    padding-bottom: 50px;
}

.bx-menu {
    display: none;
    font-size: 40px;
    font-weight: 500;
    color: white;

}

header .header_main {
    text-align: center;
    margin: 170px 0px 220px 0px;
}

header .header_nav .logo {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

header .header_nav ul li a {
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
}

header .header_main h1 {
    font-size: 41px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #ffffff;
}


header .header_main p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #ffffff;
}

header .header_main span {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}


/*======================================================services===========================================================*/


.services {
    max-width: 1400px;
    margin: auto;
    border: 2px solid red;
}

.services .services_nav {
    text-align: center;
    margin: 70px 0px 60px 0px;
}

.services .services_main {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin-bottom: 100px;
}

.services .services_nav h2 {
    font-size: 17px;
    font-weight: 700;
    padding: 0px 0px 10px 0px;
    color: #555555;
}

.services .services_nav p {
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0px 0px 0px;
    color: #000000;
}

.services .services_main .services_card .h3 {
    font-size: 12px;
    font-weight: 400;
    color: #555555;
}

/*=======================================================about=======================================================*/

.about {
    max-width: 1400px;
    margin: auto;
    border: 2px solid red;
}

.about .about_header {
    padding: 30px 0px 30px 0px;
    text-align: center;
}

.about .about_main {
    display: flex;
    justify-content: space-between;

}

.about .about_main p {
    font-size: 11px;
    font-weight: 400;
    margin: 0px 0px 30px 0px;
}


.about .about_img {
    display: grid;
    grid-template-columns: auto auto auto auto;

}


/*=========================================================works========================================================*/

.works {
    max-width: 1400px;
    margin: auto;
    border: 2px solid red;
}

.works .works_header {
    text-align: center;
    margin: 100px 0px 30px 0px;
}

.works .works_header ul {
    width: 360px;
    margin: auto;
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.works .works_header h1 {
    font-size: 18px;
    font-weight: 400;
    color: #555555;
    margin: 0px 0px 10px 0px;
}


.works .works_header ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    padding-top: 10px;
}

.bx-menu-alt-left {
    display: none;
    font-size: 40px;
}

.works .works_header ul li a:hover {
    color: #c1301d;

}


.works .works_img {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 50px 0px 0px 15px;

}


/*================================================================YOUR_PROJECT=====================================================*/


.YOUR_PROJECT {
    max-width: 1400px;
    margin: auto;
    background-image: url(./images/YOUR_PROJECT_img.png);
    margin-top: 70px;
    border: 2px solid red;
}

.YOUR_PROJECT .YOUR_PROJECT_main {
    text-align: center;
    margin: 50px 0px 100px 0px;
}

.YOUR_PROJECT .YOUR_PROJECT_main h1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 80px;
    color: #ffffff;
}

.YOUR_PROJECT .YOUR_PROJECT_main p {
    font-size: 15px;
    font-weight: 600;
    padding: 30px 0px 0px 0px;
    color: #ffffff;
}


/*=============================================================malik_media========================================================*/

.malik_media {
    max-width: 1400px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid red;
}

.malik_media .malik_media_header {
    margin: 30px 80px 50px;
    display: flex;
    justify-content: space-between;

}

.malik_media .malik_media_main {
    text-align: center;
}

.malik_media .malik_media_main p {
    font-family: Montserrat;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 10px;
}

.malik_media .malik_media_main span {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}


/*==========================================================footer=============================================================*/


footer {
    max-width: 1400px;
    margin: auto;
    border: 2px solid red;
    margin-top: 60px;
}

footer .footer_nav {
    text-align: center;
    margin-bottom: 50px;
}

footer .footer_nav h2 {
    font-size: 20px;
    font-weight: 400;
    color: #786f6f;
    margin-bottom: 10px;
}

footer .footer_nav p {
    font-size: 13.2px;
    font-weight: 400;
    color: #786f6f;
    margin-top: 10px;
}

footer .footer_main {
    display: flex;
    gap: 250px;

}


footer .footer_main_left .img2 {
    display: flex;
    gap: 10px;
    margin: 30px 0px 0px 0px;
}

footer .footer_main_left .img2 h3 {
    font-size: 12px;
    font-weight: 700;
    color: #786f6f;
}

footer .footer_main_left .address p {
    font-size: 11px;
    font-weight: 700;
    color: #786f6f;
    margin-top: 10px;
}

footer .footer_main_left .hotline p {
    font-size: 11px;
    font-weight: 700;
    color: #786f6f;
    margin-top: 10px;
}

footer .footer_main_left .e-mail p {
    font-size: 11px;
    font-weight: 700;
    color: #786f6f;
    margin-top: 10px;
}

footer .footer_main .footer_main_right .footer_main_right_top {
    display: flex;
    gap: 50px;
}

footer .footer_main .footer_main_right .footer_main_right_top .top_left div {
    width: 300px;
    height: 40px;
    border: 1px solid #555555;
    margin: 20px 0px;
}

footer .footer_main .footer_main_right .footer_main_right_top .top_left div:hover {
    border: 1px solid red;
}

footer .footer_main .footer_main_right .footer_main_right_top .top_left div p {
    font-size: 12px;
    font-weight: 400;
    color: #786f6f;
    margin-top: 12px;
    margin-left: 15px;
}

footer .footer_main .footer_main_right .top_left_botton1 {
    max-width: 650px;
    height: 92px;
    border: 1px solid #555555;
    margin: 11px 0px;
}

footer .footer_main .footer_main_right .top_left_botton1:hover {
    border: 1px solid red;
}

footer .footer_main .footer_main_right .top_left_botton1 p {
    font-size: 12px;
    font-weight: 400;
    color: #555555;
    margin-top: 20px;
    margin-left: 30px;
}

footer .footer_main .footer_main_right .top_left_botton2 {
    width: 150px;
    height: 40px;
    border: 1px solid #555555;
    margin-top: 20px;
}

footer .footer_main .footer_main_right .top_left_botton2:hover {
    border: 1px solid red;
}

footer .footer_main .footer_main_right .top_left_botton2 p {
    font-size: 12px;
    font-weight: 400;
    color: #555555;
    text-align: center;
    margin-top: 12px;
}

/*=========================================================footer_botton=======================================================*/

.footer_botton {
    max-width: 1400px;
    margin: auto;
    height: 269px;
    background-color: #C1301D;
    margin-top: 100px;
}

.footer_botton .footer_botton_main {
    text-align: center;
    margin-top: 80px;

}

.footer_botton .footer_botton_main .footer_botton_main_iconca {
    display: flex;
    gap: 20px;
    margin-left: 477px;
    margin-bottom: 15px;
    text-align: center;
}

.footer_botton .footer_botton_main p {
    font-size: 11px;
    font-weight: 400;
    margin-top: 15px;
    color: white;

}



/*===========================================================@media=============================================================*/

@media screen and (max-width:600px) {

    .bx-menu {
        display: block !important;
    }
}

@media screen and (max-width:600px) {
    header .header_nav ul {
        display: none;
    }
}

@media screen and (max-width:800px) {
    .services .services_main {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:500px) {
    .services .services_main {
        display: grid;
        grid-template-columns: auto;
    }
}


@media screen and (max-width:900px) {
    .about .about_main {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:970px) {
    .about .about_img {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width:800px) {
    .about .about_img {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:570px) {
    .about .about_img {
        display: grid;
        grid-template-columns: auto;
    }
}

@media screen and (max-width:970px) {
    .works .works_img {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:670px) {
    .works .works_img {
        display: grid;
        grid-template-columns: auto;
    }
}


@media screen and (max-width:600px) {
    .bx-menu-alt-left {
        display: block !important;

    }
}

@media screen and (max-width:600px) {
    .works .works_header ul {
        display: none;
    }
}

@media screen and (max-width:600px) {
    footer .footer_main {
        flex-wrap: wrap;

    }
}